= semantic_form_for [@grupo, @conta] do |f|
  = f.inputs do
    %h3= 'Morador: ' + current_user.email
    = f.input :nome, label: 'Nome da conta:'
    = f.input :valor
    = f.input :descricao, label: 'Descrição'

  = f.submit confirm: 'Não tem como editar depois da criação, então só confirme se os dados estiverem certos!'
