%h1= 'Grupo ' + @grupo.nome

%ul.nav.nav-pills
  %li.active
    %a{"data-toggle" => "tab", :href => "#tab1"} Participantes
  %li
    %a{"data-toggle" => "tab", :href => "#tab2"} Contas
  %li
    %a{href: new_grupo_conta_path(@grupo)} Nova conta

.tab-content
  #tab1.tab-pane.active
    = render @grupo.moradores
  #tab2.tab-pane
    = table_for @grupo.contas, html: {class: 'datatable'} do |table|
      = table.head("Morador", "Conta", "Valor", "Dia")
      = table.body do |conta|
        = table.r do
          = table.d h(conta.user.email)
          = table.d h(conta.nome)
          = table.d h(conta.valor)
          = table.d h(conta.created_at)
