%h1 Listing convites

%table
  %tr
    %th Mensagem
    %th
    %th
    %th

  - @convites.each do |convite|
    %tr
      %td= convite.mensagem
      %td= link_to 'Show', convite
      %td= link_to 'Edit', edit_convite_path(convite)
      %td= link_to 'Destroy', convite, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Convite', new_convite_path
