!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Republica2pay"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href= root_path) Republica2pay
          .nav-collapse.collapse
            %ul.nav
              - if user_signed_in? 
                %li= link_to('Minha Republica', republica_path(current_user.republica)) unless current_user.republica.nil?
                %li= link_to("Meus Grupos", grupos_path)
              - else
                %li= link_to "Cadastrar", new_user_registration_path
            %ul(class='nav pull-right')
              %li= user_signed_in? ? link_to("#{current_user.email} - Logout", destroy_user_session_path, :method => :delete) : link_to('Login', new_user_session_path)

    .container
      .content
        .row-fluid
          .span9
            - unless notice.nil?
              .alert.alert-success
                %button.close{"data-dismiss" => "alert"} ×
                %strong= notice
            - unless alert.nil?
              .alert.alert-error
                %button.close{"data-dismiss" => "alert"} ×
                %strong= alert
            .hero-unit
              = yield
          .span3
            - if user_signed_in?
              .well.sidebar-nav
                %h3 Ações
                %ul.nav.nav-list
                  %li.nav-header Republica
                  %li= link_to 'Nova Republica', new_republica_path
                  %li= link_to 'Enviar convite', new_convite_path if current_user.republica
                  %li= link_to 'Nova Fatura', new_fatura_path unless current_user.republica.nil?
                  %li.nav-header Grupo
                  %li= link_to "Novo Grupo", new_grupo_path
            .alert.alert-info
              %p
                %h4.alert-heading Quer ajudar melhorar ou relatar problemas?
              %p
                %a.btn.btn-info.btn-small(href= 'https://github.com/henrique2010/republica2pay')
                  Github - issues
              ps: Aceito ajuda no layout!
            .alert.alert-block
              %a.close{"data-dismiss" => "alert", :href => "#"} ×
              %h4.alert-heading Atenção!
              Site em desenvolvimento, mudanças podem ocorrer sem mais avisos.


      %footer
        %p 
          &copy; Company 2012 - 
          Desenvolvido por
          = link_to("Pedro Henrique", 'https://plus.google.com/u/0/113126690498391428305/about')
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
